{% extends 'base.html' %}

{% block body_class %}home{% endblock %}

{% block content %}
<div class="row mwide twide">
    <main class="col wide">
        <ban></ban>
        <territory></territory>
    </main>
</div>
<script type="riot/tag" src="{{ url_for('static', filename='tags/ban.js') }}"></script>
<script type="riot/tag" src="{{ url_for('static', filename='tags/territory.js') }}"></script>
<script>
    const API_URLS = {{ API_URLS|tojson }}
    const defaultCenter = [47, 2]
    const map = L.map('map', {center: defaultCenter, zoom: 5, zoomControl: false})
    const tilelayer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map)
    const onEachFeature = (feature, layer) => {
        layer.on('click', () => {
            territories[feature.id] = feature
            riot.route(`/territoire/${feature.id}`)
        })
    }
    const group = L.geoJson(null, {
        onEachFeature: onEachFeature
    }).addTo(map)
    new L.PhotonBaseSearch(L.DomUtil.get('search-territory'), {
        url: `${API_URLS.GEOZONES}?`,
        placeholder: 'Chercher une commune, un département, une région',
        onSelected: (feature) => {
            riot.route(`/territoire/${feature.id}`)
        }
    });

    L.DomEvent.on(Z.qs('#geolocate'), 'click', () => {
        navigator.geolocation.getCurrentPosition(
            (position) => {
                fetch(`${API_URLS.GEOAPI}communes?lat=${position.coords.latitude}&lon=${position.coords.longitude}`)
                    .then((response) => {
                        return response.json()
                    }).then((json) => {
                        const codeInsee = json[0].codeInsee
                        const id = `fr/town/${codeInsee}`
                        riot.route(`/territoire/${id}`)
                    }).catch(console.error.bind(console))
            },
            (error) => {
                console.log(error)
            }
        )
    })

    let currentTag = null

    function mount(tag, options) {
        currentTag && currentTag.unmount(true)
        riot.compile(() => {
            currentTag = riot.mount(tag, options)[0]
        })
    }

    const views = {

        territoire: (args) => {
            mount('territory', {args: args})
        },

        home: function () {
            riot.route('/territoire/country/fr')
        },

        ban: function (action) {
            mount('ban')
        }
    }
    function handler(name, ...args) {
      var fn = views[name || 'home']
      fn ? fn(args) : console.error('no route found : ', name, args)
    }
    riot.route(handler)

    riot.route.start()
    riot.route.exec()
</script>
{% endblock content %}
