side-nav {
  background-image: url('/static/img/logo.jpg');
  background-repeat: no-repeat;
  background-position: top 10px center;
  padding: 20px;
  padding-top: 80px;
  background-color: #fefefe;
  border-right: 1px solid #ddd;
  color: #333;
  width: 400px;
}
side-nav a {
  color: #333;
  text-decoration: none;
  font-family: 'open_sansbold';
  font-weight: normal;
}
side-nav section {
  align-self: center;
  display: -webkit-flex;
  display: flex;
}
side-nav a h1 {
  font-size: 40px;
  font-family: 'open_sanslight';
  font-weight: normal;
  height: 50px;
  margin-bottom: 30px;
}
side-nav .menu a:hover {
  text-decoration: underline;
}
