{% extends 'templates/demo.html' %}

{% block demo %}
<h1>{{ tag_name }} demo</h1>

<demo aria-label="Display the BAN upload form">
    <ban-upload></ban-upload>
</demo>

<script src="{{ url_for('static', filename='tags/ban-upload/ban-upload.js') }}"></script>

<script src="{{ url_for('static', filename='tags/' + tag_name + '/' + tag_name + '.tag.html') }}" type="riot/tag"></script>
<script src="{{ url_for('static', filename='tags/' + tag_name + '/' + tag_name + '.js') }}"></script>

<script>
  riot.tag('demo', '<yield/>')
  riot.compile(() => riot.mount('demo', {}))
</script>

{% endblock demo %}
